<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nearby Markets</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Nearby Markets</h1>

    {% if markets %}
    <ul>
      {% for market, distance in markets %}
      <li>{{ market }} - {{ distance|round(2) }} km</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No markets found within the specified radius.</p>
    {% endif %}

    <a href="/">Go Back</a>
  </body>
</html>
